body html {
    height: 100%;
}

.bg {
    background-image: url("../images/landing.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    margin: 5em auto 2em auto;
    
}

.logo-resize {
    width: 30vw;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-wrap {
    padding: 3em;
    border-radius: 5em;
    background-color: rgb(232, 234, 230, 0.5);
}

.centered-div {
    margin: 0px auto;
    width: 75%
}

.button-container {
    display: inline;
    
}

button {

}
