body html {
    height: 100%;
}

.bg {
    background-image: url("../images/landing.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 30vw;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.centered-div {
    margin: 0px auto;
    width: 75%
}

.button-container {
    display: inline;
    
}

button {

}
