.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-align: center;
  font-size: 2.5rem;
  color: #7C9473;
  margin-top: 30px;
}

.options {
	display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.option-1 {
  margin-left: 5em;
  height: 75px;
	width: 145px;
	background-color: #7C9473;
}

.option-2 {
  margin-left: 10em;
  height: 50px;
	width: 100px;
	background-color: #CFDAC8;
}

.option-3 {
  margin-left: 3em;
  height: 50px;
	width: 90px;
	background-color: #A0C792;
}

.option-4 {
  margin-left: 9em;
  height: 75px;
	width: 125px;
	background-color: #CFDAC8;
}

#option-1 {
  margin-top: 2em;
}

#option-4 {
  margin-left: 3em;
}

#option-3 {
  margin-right: 0
}
