/* FONTS */

h1 {
    color: #485842;
    font-family: 'Balsamiq Sans', cursive;
}

h2, 
h3, 
h4, 
h5, 
h6 {
    color: #485842;
    font-family: 'Balsamiq Sans', cursive;
}

p {
    color: #4b4b4b;
}