.main-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1em;
}

.icon-container {
    margin: 0em auto 3em auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-icons {
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.icon-next {

    margin-top: -25px;
}

.modal {
    top: 25%;
}