body, html {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.bg {
    background-image: url("../images/landing.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    margin: 2em auto 2em auto;
}

.logo-resize {
    width: 30vw;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-wrap {
    padding: 3em 1.5em 3em 1.5em;
    border-radius: 5em;
    background-color: rgb(232, 234, 230, 0.5);
}

.centered-div {
    margin: 0px auto;
    width: 85%
}

.button-container {
    display: flex;
    flex-direction: column;
}

.ola-title {

   text-align: center; 
}